.parent-container {
  background-color: #1f7c9b;
}
.parent-container2 {
  background-color: #f07b1a;
}
.parent-container3 {
  background-color: #26596a;
}
.card-header {
  font-size: 100px;
}
.header {
  align-items: center;
}
.card {
  align-items: center;
}
.card-text {
  align-items: center;
}
